vaultwarden/*
adguard/*
cloudflared-tunnel/*
caddy/*
syncthing/*
uptime-kuma/*
filebrowser/*
navidrome/*
#Retain dockerfiles from docker directories only
!vaultwarden/vaultwarden.yaml
!adguard/adguard.yaml
!cloudflared-tunnel/cloudflared-tunnel.yaml
!caddy/caddy.yaml
!syncthing/syncthing.yaml
!uptime-kuma/uptime-kuma.yaml
!filebrowser/filebrowser.yaml
!navidrome/navidrome.yaml
#env
.env
!.env.example
#negatate all example files 
!*.example