vaultwarden/*
adguard/*
cloudflared-tunnel/*
caddy/*
syncthing/*
uptime-kuma/*
filebrowser/*
navidrome/*
postgres/*
joplin/*
jellyfin/*
stirling-pdf/*
#Retain dockerfiles from docker directories only
!vaultwarden/vaultwarden.yaml
!adguard/adguard.yaml
!cloudflared-tunnel/cloudflared-tunnel.yaml
!caddy/caddy.yaml
!syncthing/syncthing.yaml
!uptime-kuma/uptime-kuma.yaml
!filebrowser/filebrowser.yaml
!navidrome/navidrome.yaml
!postgres/postgres.yaml
!postgres/postgres_init.sql
!joplin/joplin.yaml
!jellyfin/jellyfin.yaml
!stirling-pdf/stirling-pdf.yaml
#env
.env
!.env.example
#negatate all example files 
!*.example